---
---

@import "{{ site.theme }}";
.page-header {
  background-image: none;
  background-color: black;
}
#new-england-library-carpentry {
  display: none;
}
.project-tagline {
  color: white !important;
}

h2 {
  font-weight: bold !important;
  color: #a60000 !important;
}
